@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #D5A694;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-color: #262D41;
}

.container > * {
  padding: 1.3rem;
}

.header {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.header a {
  color: inherit;
  text-decoration: none;
}
.header a h1 {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.hola {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
  margin-top: 5rem;
}

.experiencia {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}

.botonCentro {
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 10rem;
  text-transform: uppercase;
}

.botonNosotros {
  text-decoration: none;
  padding: 8px;
  border: none;
  color: #D5A694;
  border-radius: 4px;
  outline: none;
  transition: ease-out 0.3s;
  font-size: 1.1rem;
  font-weight: 700;
  border: 3px solid #D5A694;
  position: relative;
  z-index: 1;
}

.navbar ul {
  list-style-type: none;
}
.navbar ul li {
  padding: 0.5rem;
}
.navbar ul li a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.25rem;
  transition: all 0.3s ease 0;
}
.navbar ul li a:hover {
  opacity: 0.75;
}

.side {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.side h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}
.side h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  text-align: center;
}
.side p {
  font-weight: 400;
  font-size: 1rem;
  text-align: center;
}

.footer {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding: 2rem;
}
.footer a {
  color: inherit;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
}

.side {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header" "navbar" "content" "sidebar" "footer";
}

@media (min-width: 481px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "header header" "navbar navbar" "sidebar content" "footer footer";
  }
  .header a h1 {
    font-size: 2.5rem;
  }
  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .navbar ul li {
    padding: 0.5rem;
  }
  .navbar ul li a {
    font-size: 1.5rem;
  }
  .side h2 {
    font-size: 1.5rem;
  }
  .side h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .side p {
    font-size: 1rem;
  }
  .hola {
    font-size: 4.7rem;
  }
  .experiencia {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .botonCentro {
    margin-top: 6rem;
  }
  .footer {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .container {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header header" "navbar content sidebar" "navbar content sidebar" "footer footer footer";
  }
  .header a h1 {
    font-size: 3rem;
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar ul li {
    padding: 1rem;
  }
  .navbar ul li a {
    font-size: 1.75rem;
  }
  .side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .side h2 {
    font-size: 1.75rem;
  }
  .side h3 {
    font-size: 1.75rem;
    margin-top: 1rem;
  }
  .side p {
    font-size: 1.1rem;
  }
  .hola {
    font-size: 7rem;
  }
  .experiencia {
    font-size: 1.75rem;
    margin-top: 0.5rem;
  }
  .botonCentro {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  .botonNosotros {
    padding: 10px;
    border: none;
    color: #D5A694;
    border-radius: 4px;
    outline: none;
    transition: ease-out 0.3s;
    font-size: 1.25rem;
    font-weight: 700;
    border: 3px solid #D5A694;
    position: relative;
    z-index: 1;
  }
  .botonNosotros:hover {
    color: #262D41;
    cursor: pointer;
  }
  .botonNosotros:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #D5A694;
  }
  .botonNosotros:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
  .footer {
    font-size: 1.1rem;
  }
}

/*# sourceMappingURL=main.css.map */
