@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
  color: #FFF;
  background-color: #41454e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  background-image: url("../images/background.png");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 481px) {
  body {
    background-position: right;
  }
}
@media (min-width: 1024px) {
  body {
    background-position: left;
  }
}
.container > * {
  padding: 1.3rem;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header .logo {
  width: 150px;
}

@media (min-width: 481px) {
  .header .logo {
    width: 200px;
  }
}
@media (min-width: 1024px) {
  .header .logo {
    width: 250px;
  }
}
.navbar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  float: left;
}
.navbar ul li {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}
.navbar ul li a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  transition: all 0.3s ease 0;
}
.navbar ul li a:hover {
  opacity: 0.75;
}

@media (min-width: 481px) {
  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
  .navbar ul li {
    margin: 0.5rem 1rem;
  }
  .navbar ul li a {
    font-size: 1.49rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar ul li {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .navbar ul li a {
    font-size: 1.5rem;
  }
}
@media (min-width: 1536px) {
  .navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar ul li {
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .navbar ul li a {
    font-size: 1.75rem;
  }
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.side {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 1rem;
}
.side .happy {
  margin-top: 4rem;
}
.side .horarios {
  margin-top: 1rem;
}
.side h3 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
  color: #006e72;
}
.side p {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 481px) {
  .side h3 {
    font-size: 1.5rem;
  }
  .side p {
    font-size: 1rem;
  }
}
@media (min-width: 1024px) {
  .side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
  }
  .side .horarios {
    margin-top: 2rem;
  }
  .side h3 {
    font-size: 1.75rem;
  }
  .side p {
    font-size: 1.1rem;
    padding: 0.1rem;
  }
}
.footer {
  font-size: 0.95rem;
  font-weight: 300;
  text-align: center;
  padding: 1.3rem;
  color: #FFF;
}
.footer a {
  color: #FFF;
}

.fa-brands {
  margin-top: 1rem;
  font-size: 28px;
  padding: 0.3rem;
  margin-bottom: 1rem;
  color: #FFF;
}

@media (min-width: 481px) {
  .footer {
    font-size: 1rem;
  }
  .fa-brands {
    margin-top: 3rem;
    font-size: 32px;
    padding: 0.4rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }
}
@media (min-width: 1024px) {
  .footer {
    font-size: 1.1rem;
  }
  .fa-brands {
    margin-top: 8rem;
    font-size: 34px;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
.hola {
  text-transform: uppercase;
  font-size: 4.9rem;
  font-weight: 700;
  margin-top: 3rem;
}

.experiencia {
  font-family: "Satisfy", cursive;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
}

.botonCentro {
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.botonUno, .botonEnviar {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  border: none;
  color: #FFF;
  outline: none;
  transition: ease-out 0.3s;
  font-size: 1.25rem;
  font-weight: 700;
  border: 3px solid #FFF;
  position: relative;
  z-index: 1;
}

@media (min-width: 481px) {
  .hola {
    font-size: 7rem;
    margin-top: 7rem;
  }
  .experiencia {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }
  .botonCentro {
    margin-top: 14rem;
  }
  .botonUno, .botonEnviar {
    font-size: 1.25rem;
    padding: 9px;
  }
}
@media (min-width: 1024px) {
  .hola {
    font-size: 9rem;
    margin-top: 6rem;
  }
  .experiencia {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .botonCentro {
    margin-top: 15rem;
  }
  .botonUno, .botonEnviar {
    font-size: 1.5rem;
    padding: 10px;
  }
  .botonUno:hover, .botonEnviar:hover {
    color: #41454e;
    cursor: pointer;
  }
  .botonUno:before, .botonEnviar:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #FFF;
  }
  .botonUno:hover:before, .botonEnviar:hover:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
}
.row {
  width: 100%;
}

.imageSection {
  width: 100%;
  float: none;
}
.imageSection img {
  width: 100%;
  height: auto;
  border: solid 3px #006e72;
  margin-top: 4rem;
}

.contenido {
  width: 100%;
  float: none;
  margin-left: 0px;
}
.contenido h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.contenido p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 6rem;
}

.imageSectionDos {
  width: 100%;
  float: none;
}
.imageSectionDos img {
  width: 100%;
  height: auto;
  border: solid 3px #006e72;
}

.contenidoDos {
  width: 100%;
  float: none;
  margin-left: 0px;
}
.contenidoDos h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.contenidoDos p {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 1rem;
  line-height: 1.6;
  text-align: justify;
}

@media (min-width: 481px) {
  .imageSection {
    width: 40%;
    float: left;
    margin-top: 2rem;
  }
  .imageSection img {
    margin-top: 3rem;
  }
  .contenido {
    width: 50%;
    float: left;
    margin-left: 50px;
  }
  .contenido h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 3rem;
  }
  .contenido p {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
  .imageSectionDos {
    width: 40%;
    float: right;
    margin-top: 2rem;
  }
  .imageSectionDos img {
    margin-top: 3rem;
  }
  .contenidoDos {
    width: 50%;
    float: right;
    margin-right: 50px;
  }
  .contenidoDos h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 3rem;
  }
  .contenidoDos p {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1024px) and (max-width: 1535px) {
  .imageSection {
    width: 30%;
    float: left;
    margin-top: 2rem;
  }
  .imageSection img {
    margin-top: 2rem;
    margin-left: 2rem;
  }
  .contenido {
    width: 60%;
    float: left;
    margin-left: 50px;
  }
  .contenido h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 4rem;
  }
  .contenido p {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 17rem;
  }
  .imageSectionDos {
    width: 30%;
    float: right;
    margin-top: 2rem;
  }
  .imageSectionDos img {
    margin-top: 2rem;
  }
  .contenidoDos {
    width: 60%;
    float: right;
    margin-right: 50px;
  }
  .contenidoDos h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 4rem;
  }
  .contenidoDos p {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1535px) {
  .imageSection {
    width: 30%;
    float: left;
    margin-top: 2rem;
  }
  .imageSection img {
    margin-top: 2rem;
    margin-left: 1rem;
  }
  .contenido {
    width: 60%;
    float: left;
    margin-left: 50px;
  }
  .contenido h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 4rem;
  }
  .contenido p {
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 17rem;
  }
  .imageSectionDos {
    width: 30%;
    float: right;
    margin-top: 2rem;
    margin-right: 3rem;
  }
  .imageSectionDos img {
    margin-top: 2rem;
  }
  .contenidoDos {
    width: 60%;
    float: right;
    margin-right: 50px;
  }
  .contenidoDos h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 4rem;
  }
  .contenidoDos p {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
}
.menu {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}
.menu h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  text-align: center;
}

.menu-group-heading {
  margin: 0;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #006e72;
  font-size: 1.75rem;
  font-weight: 500;
}

.menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 2rem 0;
}

.menu-item {
  display: flex;
}

.menu-item-image {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
  border-radius: 50%;
}

.menu-item-text {
  flex-grow: 1;
}

.menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-size: 1.25rem;
}

.menu-item-name {
  margin-right: 1.5rem;
}

.menu-item-description {
  line-height: 1.6;
  font-weight: 300;
}
.menu-item-description li {
  list-style: none;
}

@media (min-width: 481px) {
  .menu {
    font-size: 1.1rem;
  }
  .menu h2 {
    font-size: 3rem;
    letter-spacing: 3px;
  }
  .menu-group-heading {
    font-size: 2rem;
  }
  .menu-item-heading {
    font-size: 1.25rem;
  }
  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}
@media (min-width: 1024px) {
  .menu {
    font-size: 1.25rem;
    padding-right: 3rem;
  }
  .menu h2 {
    font-size: 4rem;
    letter-spacing: 3px;
  }
  .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-group-heading {
    font-size: 2.5rem;
  }
  .menu-item-heading {
    font-size: 1.5rem;
  }
  .menu-item-image {
    width: 125px;
    height: 125px;
  }
}
.tituloSucursales {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.happy-sucursal {
  margin-top: 2rem;
}

.sucursales h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-left: 0.5rem;
  border-bottom: 2px solid #006e72;
}
.sucursales p {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: justify;
}
.sucursales iframe {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  width: 260px;
  height: 260px;
}

@media (min-width: 320px) {
  .sucursales iframe {
    width: 260px;
    height: 260px;
  }
}
@media (min-width: 375px) {
  .sucursales iframe {
    width: 320px;
    height: 320px;
  }
}
@media (min-width: 414px) {
  .sucursales iframe {
    width: 350px;
    height: 350px;
  }
}
@media (min-width: 428px) {
  .sucursales iframe {
    width: 370px;
    height: 370px;
  }
}
@media (min-width: 481px) {
  .tituloSucursales {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .sucursales h3 {
    font-size: 1.75rem;
  }
  .sucursales iframe {
    width: 400px;
    height: 400px;
  }
}
@media (min-width: 600px) {
  .sucursales iframe {
    width: 420px;
    height: 420px;
  }
}
@media (min-width: 1024px) {
  .tituloSucursales {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 3rem;
  }
  .sucursales h3 {
    font-size: 2rem;
  }
  .sucursales p {
    font-size: 1.25rem;
  }
  .sucursales iframe {
    width: 650px;
    height: 500px;
  }
}
.tituloContacto {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.dudas {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.happy-contacto {
  margin-top: 4rem;
}

.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contacto form label {
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  margin-top: 0.5rem;
  text-align: center;
}

input[type=text] {
  width: 100%;
  padding: 3px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type=email] {
  width: 100%;
  padding: 3px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

.botonEnviar {
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  margin-top: 1rem;
}

.mensaje {
  width: 100%;
}

@media (min-width: 481px) {
  .tituloContacto {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .dudas {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .contacto form label {
    margin-top: 0.75em;
    font-size: 1rem;
  }
  input[type=text] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  .mensaje {
    width: 30vh;
  }
}
@media (min-width: 1024px) {
  .tituloContacto {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 3rem;
  }
  .dudas {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .contacto form label {
    font-size: 1.25rem;
    margin-top: 1rem;
  }
  input[type=text] {
    width: 50vh;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  input[type=email] {
    width: 50vh;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  .mensaje {
    width: 50vh;
  }
}
.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.contentDos {
  grid-area: contentDos;
}

.navbar {
  grid-area: navbar;
}

.side {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "header" "navbar" "content" "sidebar" "footer";
}

@media (min-width: 481px) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "header" "navbar" "content" "sidebar" "footer";
  }
}
@media (min-width: 1024px) {
  .container {
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "header header header" "navbar content sidebar" "navbar content sidebar" "footer footer footer";
  }
}

/*# sourceMappingURL=main.css.map */
