@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #D5A694;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: #262D41;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.container > * {
  padding: 1.3rem;
  /* border: 1px solid white; */
}

/* ESTILOS */

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: #CC7351; */
}

.header h1 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: #E08F62; */
}

.navbar li {
  padding: 0.5rem;
}

.navbar a {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  transition: all 0.3s ease 0;
}

.navbar a:hover{
  opacity: .75;
}

.side {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  /* background-color: #E08F62; */
}

.side h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  text-align: center;
}

.side h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  text-align: center;
}

.side p {
font-weight: 300;
font-size: 1rem;
text-align: center;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  /* background-color: #E08F62; */
}

.hola {
  text-transform: uppercase;
  /* letter-spacing: 0.3rem; */
  font-size: 4rem;
  font-weight: 600;
  margin-top: 1rem;
}

.experiencia {
  font-family: 'Satisfy', cursive;
  font-weight: 300;
  font-size: 1.25rem;
  text-align: center;
}

.botonCentro{
  display: block;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.botonPedido{
  padding: 0.6rem 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  background: #D5A694;
  color: #262D41;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 1s
}

.botonPedido:hover{
  background-color: #D5A694;
  opacity: .75;
}

.tituloHistoria {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.textoHistoria {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;  
}

.imagenRestaurante {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tituloMenu {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.textoMenu {
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;  
}

.imagenMenu {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.tituloSucursales {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sucursales h2{
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.sucursales p{
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.5rem;
  text-align: justify;  
}

.sucursales iframe{
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 2rem;
  width: 300px;
  height: 200px;
}

.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tituloContacto {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contacto form label{
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  margin-top: 0.5rem;
  text-align: center;
}

.submitBtn{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 500;
  background: #D5A694;
  color: #262D41;
  cursor: pointer;
  transition: all 1s;
  border-style: none;
  border-radius: 0.2rem;
  font-family: 'Poppins', sans-serif;
}

.submitBtn:hover {
  background-color: #D5A694;
  opacity: .75;
}

input[type = text] {
  width: 100%;
  padding: 1px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type = email] {
  width: 100%;
  padding: 1px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

.mensaje {
  width: 100%;
}

.footer {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  /* background-color: #DED7B1; */
}

/* GRIDS */

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
}

.side {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  /* grid-gap: 10px; */
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "sidebar"
    "footer";
}

@media (min-width: 481px) {
  nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "sidebar content"
    "footer footer";
  }
  .header h1 {
    font-size: 2.5rem;
  }
  .navbar li {
    padding: 0.5rem;
  }
  .navbar a {
    font-size: 1.5rem;
  }
  .side h2 {
    font-size: 1.5rem;
  }
  .side h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .side p {
  font-size: 1rem;
  }
  .hola {
    font-size: 4.7rem;
  }
  .experiencia {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .botonCentro {
    margin-top: 6rem;
  }
  .tituloHistoria {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .tituloMenu {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .tituloSucursales {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .sucursales iframe{
    width: 400px;
    height: 300px;
  }
  .tituloContacto {
    font-size: 2rem;
    margin-top: 0rem;
  }
  .contacto form label{
    margin-top: 0.75em;
    font-size: 1rem;
  }
  input[type = text] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  input[type = email] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  .mensaje {
    width: 30vh;
  }
  .footer {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  nav ul {
    flex-direction: column;
  }
  .container {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    "navbar content sidebar"
    "navbar content sidebar"
    "footer footer footer";
  }
  .header h1 {
    font-size: 3rem;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .navbar li {
    padding: 1rem;
  }
  .navbar a {
    font-size: 1.75rem;
  }
  .side h2 {
    font-size: 1.75rem;
  }
  .side h3 {
    font-size: 1.75rem;
    margin-top: 1rem;
  }
  .side p {
  font-size: 1.1rem;
  }
  .hola {
    font-size: 7rem;
  }
  .experiencia {
    font-size: 1.75rem;
    margin-top: 0.5rem;
  }
  .botonCentro {
    margin-top: 9rem;
  }
  .tituloHistoria {
    font-size: 2.2rem;
    margin-top: 3rem;
  }
  .textoHistoria {
    font-size: 1.1rem;
  }
  .tituloMenu {
    font-size: 2.2rem;
  }
  .textoMenu {
    font-size: 1.1rem;
  }
  .tituloSucursales {
    font-size: 2.2rem;
  }
  .sucursales h2{
    font-size: 1.5rem;
  }
  .sucursales p{
    font-size: 1.1rem;
  }
  .sucursales iframe{
    width: 500px;
    height: 400px;
  }
  .tituloContacto {
    font-size: 2.2rem;
  }
  .contacto form label{
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  input[type = text] {
    width: 50vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  input[type = email] {
    width: 50vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  .submitBtn{
    margin-top: 1rem;
    padding: 0.75rem 0.75rem;
  }

  .mensaje {
    width: 50vh;
  }
  .footer {
    font-size: 1.1rem;
  }
}




