.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.tituloContacto {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.contacto form label{
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  margin-top: 0.5rem;
  text-align: center;
}

// ********
// EXTEND
// ********
.botonEnviar {
  @extend .botonUno;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  margin-top: 1rem;
}


// .submitBtn{
//   margin-left: 1rem;
//   margin-top: 1rem;
//   margin-bottom: 1rem;
//   padding: 0.5rem 0.5rem;
//   text-transform: uppercase;
//   font-size: 1rem;
//   font-weight: 700;
//   background: #D5A694;
//   color: #262D41;
//   cursor: pointer;
//   transition: all 0.5s;
//   border-style: none;
//   border-radius: 0.2rem;
//   font-family: 'Poppins', sans-serif;
// }

// .submitBtn:hover {
//   background-color: #D5A694;
//   opacity: .75;
// }

input[type = text] {
  width: 100%;
  padding: 3px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type = email] {
  width: 100%;
  padding: 3px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

.mensaje {
  width: 100%;
}

@media (min-width: 481px) {

  .tituloContacto {
    font-size: 3rem;
      margin-top: 4rem;
  }

  .contacto form label{
    margin-top: 0.75em;
    font-size: 1rem;
  }

  input[type = text] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  input[type = email] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  .mensaje {
    width: 30vh;
  }
}

@media (min-width: 1024px) {

  .tituloContacto {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 3rem;
  }

  .contacto form label{
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  input[type = text] {
    width: 50vh;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  input[type = email] {
    width: 50vh;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  .submitBtn{
    margin-top: 1rem;
    padding: 0.75rem 0.75rem;
  }

  .mensaje {
    width: 50vh;
  }
}