// MOBILE

.tituloContacto {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.dudas {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.6;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  form label{
    font-size: 1rem;
    font-weight: 300;
    display: flex;
    margin-top: 0.5rem;
    text-align: center;
  }
}

input[type = text] {
  width: 100%;
  padding: 3px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

input[type = email] {
  width: 100%;
  padding: 3px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}

// ********
// EXTEND
// ********

.botonEnviar {
  @extend .botonUno;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  margin-top: 1rem;
}

.mensaje {
  width: 100%;
}

// TABLET

@media (min-width: 481px) {

  .tituloContacto {
    font-size: 3rem;
    margin-top: 4rem;
  }

  .dudas {
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .contacto form label{
    margin-top: 0.75em;
    font-size: 1rem;
  }

  input[type = text] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  input[type = email] {
    width: 30vh;
    padding: 3px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  .mensaje {
    width: 30vh;
  }
}

// DESKTOP

@media (min-width: 1024px) {

  .tituloContacto {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 3rem;
  }

  .dudas {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .contacto form label{
    font-size: 1.25rem;
    margin-top: 1rem;
  }

  input[type = text] {
    width: 50vh;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }
  
  input[type = email] {
    width: 50vh;
    padding: 5px 15px;
    margin: 5px 0;
    box-sizing: border-box;
  }

  .mensaje {
    width: 50vh;
  }
}