.hola {
  text-transform: uppercase;
  @include font (4.9rem, 700);
  margin-top: 5rem;
}

.experiencia {
  font-family: 'Satisfy', cursive;
  @include font-centered (1.4rem, 400, center);
  margin-top: 1rem;
}

.botonCentro {
  margin-top: 12rem;
  margin-bottom: 8rem;
}

.botonUno {
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
  border: none;
  color: $primary;
  outline: none;
  transition: ease-out 0.3s;
  font-size: 1.25rem;
  font-weight: 700;
  border: 3px solid $primary;
  position: relative;
  z-index: 1;
  }

@media (min-width: 481px) {

  .hola {
    font-size: 7rem;
    margin-top: 7rem;
  }

  .experiencia {
    font-size: 1.7rem;
    margin-top: 1.5rem;
  }

  .botonCentro {
    margin-top: 14rem;
  }

  .botonUno {
    font-size: 1.25rem;
    padding: 9px;
  }
}

@media (min-width: 1024px) {

  .hola {
    font-size: 9rem;
    margin-top: 6rem;
    }
  
    .experiencia {
    font-size: 2rem;
    margin-top: 1rem;
    }
  
    .botonCentro {
      margin-top: 15rem;
    }
  
    .botonUno {
      font-size: 1.5rem;
      padding: 10px;
  
      &:hover {
        color: $secondary;
        cursor: pointer;
      }
      
      &:before {
        transition: 0.5s all ease;
        position: absolute;
        top: 0;
        left: 50%;
        right: 50%;
        bottom: 0;
        opacity: 0;
        content: "";
        background-color: $primary;
      } 
      
      &:hover:before {
          transition: 0.5s all ease;
          left: 0;
          right: 0;
          opacity: 1;
          z-index: -1;
        }
    }
}