// MOBILE

.tituloSucursales {
  font-size: 2rem;
  letter-spacing: 1px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.sucursales {

  h3{
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-left: 0.5rem;
    border-bottom: 2px solid $primary;
  }

  p{
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 300;
    margin-top: 0.5rem;
    text-align: justify;  
  }

  iframe{
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
    width: 260px;
    height: 260px;
  }
}

@media (min-width: 320px) {

  .sucursales iframe{
    width: 260px;
    height: 260px;
  }
}

@media (min-width: 375px) {

  .sucursales iframe{
    width: 320px;
    height: 320px;
  }
}

@media (min-width: 414px) {

  .sucursales iframe{
    width: 350px;
    height: 350px;
  }
}

@media (min-width: 428px) {

  .sucursales iframe{
    width: 370px;
    height: 370px;
  }
}

// TABLET

@media (min-width: 481px) {

  .tituloSucursales {
    font-size: 3rem;
    margin-top: 4rem;
  }

  .sucursales {
    
    h3{
      font-size: 1.75rem;
    }

    iframe{
      width: 400px;
      height: 400px;
    }
  }
}

@media (min-width: 600px) {

  .sucursales iframe{
    width: 420px;
    height: 420px;
  }
}

// DESKTOP

@media (min-width: 1024px) {

  .tituloSucursales {
    font-size: 4rem;
    letter-spacing: 2px;
    margin-top: 3rem;
  }

  .sucursales {
    
    h3{
      font-size: 2rem;
    }

    p{
      font-size: 1.25rem;
    }

    iframe{
      width: 650px;
      height: 500px;
    }
  }
}