.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.navbar {
  grid-area: navbar;
}

.side {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "sidebar"
    "footer";
}

// TABLET
@media (min-width: 481px) {
  
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header header"
    "navbar navbar"
    "sidebar content"
    "footer footer";
  }

  .header a h1 {
    font-size: 2.5rem;
  }

  .navbar {
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
      padding: 0.5rem;

      a {
        font-size: 1.5rem;
      }
    }
  }
}

  .side {

    h3 {
      font-size: 1.5rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1rem;
      }
  }

  .hola {
    font-size: 4.7rem;
  }

  .experiencia {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  .botonCentro {
    margin-top: 6rem;
  }

  .footer {
    font-size: 1rem;
  }
}

// DESKTOP
@media (min-width: 1024px) {
  .container {
    grid-template-rows: auto 1fr 1fr;
    grid-template-columns:1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    "navbar content sidebar"
    "navbar content sidebar"
    "footer footer footer";
  }

  .header a h1 {
    font-size: 3rem;
  }

  .navbar {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    li {
    padding: 1rem;

      a {
        font-size: 1.75rem;
      }
    }
  }
}

  .side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    h3 {
      font-size: 1.75rem;
      margin-top: 1rem;
    }

    p {
      font-size: 1.1rem;
    }
  }

  .hola {
    font-size: 7rem;
  }

  .experiencia {
    font-size: 1.75rem;
    margin-top: 0.5rem;
  }

  .botonCentro {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }
  
  .botonNosotros {
    padding: 10px;
    border: none;
    color: $primary-color;
    border-radius: 4px;
    outline: none;
    transition: ease-out 0.3s;
    font-size: 1.25rem;
    font-weight: 700;
    border: 3px solid $primary-color;
    position: relative;
    z-index: 1;

    &:hover {
      color: $secondary-color;
      cursor: pointer;
    }

    &:before {
      transition: 0.5s all ease;
      position: absolute;
      top: 0;
      left: 50%;
      right: 50%;
      bottom: 0;
      opacity: 0;
      content: "";
      background-color: $primary-color;
    } 

    &:hover:before {
      transition: 0.5s all ease;
      left: 0;
      right: 0;
      opacity: 1;
      z-index: -1;
    }
  }
  
  .footer {
    font-size: 1.1rem;
  }
}