// ************
// Smartphone
// ************

.header {
  grid-area: header;
}

.content {
  grid-area: content;
}

.contentDos {
  grid-area: contentDos;
}

.navbar {
  grid-area: navbar;
}

.side {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto auto 1fr;
  grid-template-areas:
    "header"
    "navbar"
    "content"
    "sidebar"
    "footer";
}

