// ********
// Tablet
// ********

@media (min-width: 481px) {
  
  .container {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: 
    "header"
    "navbar"
    "content"
    "sidebar"
    "footer";
  }

  .containerDos {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: 
    "header"
    "navbar"
    "contentDos"
    "footer";
  }
}