.side {
  @include center;
  flex-direction: column;
  padding-bottom: 1rem;

  .horarios {
    margin-top: 1rem;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
  }

  p {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    }
}

@media (min-width: 481px) {

  .side {

    h3 {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

@media (min-width: 1024px) {

  .side {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    .horarios {
      margin-top: 2rem;
    }
  
    h3 {
      font-size: 1.75rem;
    }
  
    p {
      font-size: 1.1rem;
      padding: 0.1rem;
    }
  }
}
