.side {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .horarios {
    margin-top: 1rem;
  }

  h3 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    text-align: center;
  }

  p {
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    }
}
