// MOBILE

.header {

  @include center;
    cursor: pointer;

    .logo {
      width: 150px;
    }
}

// TABLET

@media (min-width: 481px) {
  .header {

    .logo {
      width: 200px;
    }
  }
}

// DESKTOP

@media (min-width: 1024px) {
  .header {

    .logo {
      width: 250px;
    }
  }
}