.navbar {

  ul {
    list-style-type: none;

    li {
      margin-top: 1rem;
      margin-bottom: 1rem;

      a {
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.25rem;
        transition: all 0.3s ease 0;

        &:hover{
          opacity: .75;
        }
      }
    }
  }
}

@media (min-width: 481px) {

  .navbar {

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  
      li {
        margin: 0.5rem 1rem;
  
        a {
          font-size: 1.49rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {

  .navbar {
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
  
      li {
      margin-top: 1rem;
      margin-bottom: 1rem;
  
        a {
          font-size: 1.75rem;
        }
      }
    }
  }
}
