* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $primary-color;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: $secondary-color;
}

.container > * {
  padding: 1.3rem;
}