* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $yellow-color;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: $blue-color;
  background-image: url(../images/bg-prem.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container > * {
  padding: 1.3rem;
  // border: 1px solid white;
}

.containerDos > * {
  padding: 1.3rem;
  // border: 1px solid white;
}