// *****************
// Color Variables
// *****************

// Pink
$pink-color: #D5A694;

// Pastel
$pastel-color:#ffe5d9;

// Blue
$blue-color: #262D41;

// Black
$black-color: #000000;

// White
$white-color: #ffffff;

//Brown
$brown-color: #B7855B;
$dark-brown-color: #411500;

//Yellow
$yellow-color: #F1D5A6;

